.topnav a.one {
    background-color: #83e631;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
  
.topnav a.one:hover, a.one:active {
    background-color: green;
    color: white;
}

.topnav a.two {  
    background-color: #e63183;
    color: black;
    border: 2px solid #a5004a;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;}

.topnav a.two:hover, a.two:active {
    background-color: #a5004a;
    color: white;
}

.topnav a.three {    
    background-color: #3183e6;
    color: black;
    border: 2px solid #0053b9;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.topnav a.three:hover, a.three:active {
    background-color: #0053b9;
    color: white;
}

.topnav a.four {    
    background-color: #9431e6;
    color: black;
    border: 2px solid #6800bd;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.topnav a.four:hover, a.four:active {
    background-color: #6800bd;
    color: white;
}

h1 {
	font-size: 40px;
    text-align: center;
	background-color:#83e631;
}

p {
    text-indent:40px
}

img {
    display: block;
    margin: 0 auto;
}
