h1 {
	font-size: 40px;
	background-color:rgb(131, 230, 49);
}

h2 {
    font-size: 30px;
    background-color:#e63183;
}

h3{
    font-size: 20px;
    background-color:#3183e6;
}

a.one:link, a.one:visited {
    background-color: white;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
  
a.one:hover, a.one:active {
    background-color: green;
    color: white;
}

#para1 {
	font-size: 16px;
}
#para2 {
	font-size: 12px;
	color:SlateBlue;
}
