/* all the codes are learned from w3school */

.topnav a.one {
    background-color: #83e631;
    color: black;
    border: 2px solid green;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
  
.topnav a.one:hover, a.one:active {
    background-color: green;
    color: white;
}

.topnav a.two {  
    background-color: #e63183;
    color: black;
    border: 2px solid #a5004a;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;}

.topnav a.two:hover, a.two:active {
    background-color: #a5004a;
    color: white;
}

.topnav a.three {    
    background-color: #3183e6;
    color: black;
    border: 2px solid #0053b9;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.topnav a.three:hover, a.three:active {
    background-color: #0053b9;
    color: white;
}

.topnav a.four {    
    background-color: #9431e6;
    color: black;
    border: 2px solid #6800bd;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.topnav a.four:hover, a.four:active {
    background-color: #6800bd;
    color: white;
}

/* I wanted to make the nav bar to show as button, so I followed the codes for nav bar suggested by w3schools */
/* I picked the colours of the nav bar buttons based on suggestion the suggestion from this website https://www.colorhexa.com/e63183 */
/* The colour palette was also inspired by The Powerpuff Girls */

a.five, a.five:visited{
    text-align: center;
    color:rgb(0, 110, 255)
}

a.five:hover{
    text-align: center;
    background: #6800bd;
    color: white;
}

a.five:active {
    text-align: center;
    background: #6800bd;
    color: #ff9933;
}
/* The colour when hover was picked to follow the theme of the nav bar, and the colour of the hyperlinks when clicked was picked based on suggestion from colorhexa */
h1 {
	font-size: 40px;
    text-align: center;
	background-color:#83e631;
}

h1.images{
    background-color:#e63183;
}
h1.paleo{
    background-color:#3183e6;
}
h1.references{
    background-color:#6800bd;
}

/* I changed the header background colour to match the colour theme of the page from the nav bar --> */
p {
    text-indent: 40px;
}
/* Most people often forget this, but paragraphs should have indentation. */
p.small {
    font-size: 12px;
    text-indent: 0px;
    text-align: center;
}
/* p.small is used for little footnotes, so it makes no sense to have it indented. */
p.caption {
    font-size: 14px;
	text-align: center;
    text-indent: 0px;
}

p.caption#index {
    color: green;
}
p.caption#images {
    color: #a5004a;
}
p.caption#pollen {
    color: #0053b9;
}
/* Figure captions follow the colour palette of each page */

p.list{
    text-align: center;
}

img {
    display: block;
    margin: 0 auto;
    width: 1000px;
    height: auto;
}

a.five#artwork:active {
    color: #e63183;
}
a.five#inception:active {
    color: #83e631;
}
a.five#video:active{
    color: #3183e6;
}
/* I also changed the colour of the text in the last 3 hyperlinks when clicked to follow the established color palette */

img.background {
    width: 100%;
    height: auto;
    opacity: 0.2;
}

div.container {
    position: relative;
}
/* I wanted a background image for the reference list so it wouldn't be a boring section of just a plain list */
/* The background image is a beautiful photo of illuminated diatoms that's free to use from wikipedia. It's set to 0.2 opacity so the readers can still easily read the reference list if they want to */
/* The background image size was also overrided, no longer 1000px but now span accross the whole width of the webpage */

div.reflist {
    position: absolute;
    top: 8px;
    left: 8px;
}
/* The reference list was placed on top of the background image within the full page margin */
/* The original images are all very huge, so I had to resize to 1000 px to make sure it's small enough for the website but still shows enough little details that are very important*/